---
layout: developer-survey
title: 'The Remote Work Report by GitLab: The Future of Work is Remote'
description: The Global Remote Work Report dissects the state of distributed work and surfaces key motivators for both employees and employers.
canonical_path: "/remote-work-report/"
twitter_image: '/images/opengraph/remote-report-2021.png'
extra_css:
  - report-pages.css
---

%header.navbar#main-nav{role: "navigation"}
  .navbar-left
    = link_to "/", class: "navbar-brand animated" do
      = partial "includes/logos/wm_web.svg"
  %script{ src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript" }

.container.container2020.header
  .col-md-7
    %h1 The Remote Work Report 2021
    %h3 3,900 global remote workers share the good, bad, and unexpected of the new status quo
    %p 2020 was an unprecedented year with many people working from home. Companies are currently evaluating whether they should re-open their offices, require employees to be in a physical office, have a flexible policy that enables employees to work remotely as often as they like, or pursue a 100% remote work policy. 
    %p GitLab’s Remote Work Report captures this seminal moment in history. In the very moment where it became clear that the intersection of work and life would be forever changed through mass proliferation of remote work, these are the trends that defined the turn. 3,900 remote professionals on six continents were surveyed for one of the most comprehensive reports ever created on remote work.
  .col-md-5 
    = image_tag "/images/remote-work-report/remote-work-report-2021-cover.png"
  .col-md-12{style: "text-align: center"}
    %p 
      Find out more
      = link_to "about remote work", "/company/culture/all-remote/"
      or 
    %p 
      = link_to "Download the report", "/resources/downloads/remote-work-report-2021.pdf", class: "btn cta-btn orange u-margin-top-xs"


%main.key-takeaways
  %section.container.container2020
    .col-md-12
      %h2 Key Takeaways
    .col-md-6
      %h4 Talent flows where flexibility reigns 
      %p 
        %span.bold-number 52% 
        of remote workers noted that they would consider leaving their co-located company for a remote role — particularly significant given the global job market volatility. If remote work was suddenly no longer an option, 
        %span.bold-number 1 in 3 
        respondents would quit their job.
      %h4 Transparency creates belonging
      %p 
        %span.bold-number 34% 
        of respondents noted that more transparency from leadership leads to a deeper feeling of connectedness at work, while
        %span.bold-number 38% 
        noted that more visibility into the work within the organization improved their sense of connection. Creating a sense of belonging within an organization is top of mind for many leaders. There’s an interesting parallel between transparency and belonging. Put simply, it’s easier to feel like part of a team when you can easily see what others are working toward. 
    .col-md-6
      %h4 The contrast of perception and reality
      %p 
        There's a disconnect between the ostensibly high levels of satisfaction with remote work and the actual pain people are feeling day-to-day. While 
        %span.bold-number 4 in 5 
        would recommend remote working to a friend and  
        %span.bold-number 81% 
        of people are satisfied with the level of productivity, teamwork across organizations is struggling. Just over a third 
        %span.bold-number (37%) 
        report that their organization does a good job of aligning work across projects.
      %h4 Remote eyes the mainstream
      %p
        This survey was limited to people who will continue working remotely post-pandemic. 
        %span.bold-number 45% 
        of these respondents reported less than a year of remote experience, meaning they started working remotely during the pandemic. This surge of new talent in the remote workforce pushes remote work closer to the mainstream, creating a large enough category that 
        %span.bold-number all  
        organizations will be expected to have a formalized stance on workplace flexibility.      
    .col-md-12
      .block-quote
        %h3.block-quote-text  If remote work was no longer an option, 1 in 3 would leave their jobs.
    .col-md-6     
      %h4 There’s no putting the genie back in the bottle
      %p 
        %span.bold-number 82% 
        agreed that remote work is the future of work, with nearly as many   
        %span.bold-number (80%) 
        saying that they would recommend working remotely to a friend. This is particularly staggering given that crisis-induced work-from-home severely limits the benefits of remote work, and yet, the increased autonomy and loss of commute are powerful agents. 
      %h4 Employers win, too
      %p 
        Increased productivity 
        %span.bold-number (42%) 
        , increased efficiency  
        %span.bold-number (38%)
        , a reduction in bureaucracy and politics 
        %span.bold-number (24%)
        , and improved documentation and process 
        %span.bold-number (20%) 
        were cited as top benefits to employers by enabling a remote environment. 
    .col-md-6   
      %h4 The office is a hard habit to break
      %p 
        Despite overwhelming positivity for more flexible work policies, 
        %span.bold-number 45% 
        of respondents worry over not seeing colleagues in person, while 
        %span.bold-number 34% 
        are concerned about their ability to collaborate effectively. This spotlights an acute need for upskilling and development, with organizations now responsible for teaching their employee base how to collaborate across time zones and borders in an increasingly remote world.
      %h4 A catalyst for diversity 
      %p 
        Worldwide, women only make up about 
        %span.bold-number 38% 
        of the workforce. In remote work, they are the majority at 
        %span.bold-number 58%. 
        Too, 
        %span.bold-number 9% 
        of respondents self-reported as LGBTQ+ — significantly higher than the known global representation. However, respondents were overwhelmingly White, even in nations where they are an ethnic minority. 
    .col-md-12
      .block-quote
        %h3.block-quote-text 4 in 5 people would recommend remote work to a friend.    
    .col-md-6
      %h4 Next stop: burnout 
      %p 
        %span.bold-number 42% 
        of those surveyed admit that they struggle with maintaining boundaries while working away from the office. Leaders should proactively address this worrying trend by normalizing time away to recharge and prioritizing personal wellbeing in a visible way. 
      %h4 The documentation divide
      %p 
        Fewer than 
        %span.bold-number 50% 
        feel that their organization is doing enough to share company-wide goals, document processes, create communication standards, and promote visibility amongst workstreams. Barely a third believe their leaders are appropriately aligning work across projects.
    .col-md-6
      %h4 Coffee breaks go virtual
      %p 
        With travel restrictions in place, 
        %span.bold-number 33% 
        of remote workers saw their organizations lean on virtual coffee or tea breaks to foster a sense of community. Pair that with 
        %span.bold-number 27% 
        who cited virtual happy hours, and you’ve got a lot of video-based team building going on.

%main.project-background
  %section.container.container2020
    .col-md-12
      %h2 Project background
    .col-md-12
      %p This is the second annual Remote Work Report. GitLab’s pre-pandemic, #{link_to("March 2020 report", "https://page.gitlab.com/rs/194-VVC-221/images/the-remote-work-report-by-gitlab.pdf")} sought to look forward to the future of remote work; we now know that the future of work is distributed. We are no longer asking “if” remote can scale — now, we are seeking to understand how, what the challenges are, and what’s next. This survey set out to ask new questions that will form the basis of global discussions in 2021 and beyond.
      %p Fielding: February 12 - March 10, 2021
      %p Sample: N=3,900
      %ul
        %li Adults 21+ years old
        %li Will work remotely or have the option to work remotely post pandemic
        %li Roles with digital output
        %li Live in US, UK, Canada, Australia, South Africa, Brazil or South Korea
        %li Independent research conducted by #{link_to("Savanta", "https://savanta.com/")} 


%main.partners
  %section.container.container2020
    .col-md-12
      %h2 Meet Our Partners
    .col-md-12
      %p GitLab is thrilled to partner with these remote-work leaders. Our partners helped guide the 2021 Remote Work Report, sharing insights and input in their unique areas of expertise.
    .col-md-4  
      .partner-card.slp-p-32.slp-pt-24.slp-border.slp-border-grayscale-highlight.slp-border-solid.slp-m-16.slp-my-48.hover:slp-shadow-lg.slp-ease-in-out.slp-transition-all.slp-duration-300.slp-rounded-md.slp-group.slp-relative.slp-flex.slp-flex-col.slp-justify-between
        %div
          %a{:href => "https://www.dropbox.com/", :target => "_blank"}
            = image_tag "/images/remote-work-report/Dropbox-logo.png"
          %p.slp-text-grayscale-333.slp-pb-24.slp-text-left
            Dropbox is redesigning the way the world works. Back in 2007, making work better for people meant designing a simpler way to keep files in sync. Today, it means designing products that reduce busywork so you can focus on the work that matters. Read how we’re designing for the workplace of tomorrow in our
            %a{href: "https://blog.dropbox.com/collections/virtual-first-toolkit", :target => "_blank"}
              Virtual First Toolkit.
    .col-md-4 
      .partner-card.slp-p-32.slp-pt-24.slp-border.slp-border-grayscale-highlight.slp-border-solid.slp-m-16.slp-my-48.hover:slp-shadow-lg.slp-ease-in-out.slp-transition-all.slp-duration-300.slp-rounded-md.slp-group.slp-relative.slp-flex.slp-flex-col.slp-justify-between
        %div
          %a{:href => "https://safetywing.com/", :target => "_blank"}
            = image_tag "/images/remote-work-report/SafetyWing-logo.png"
          %p.slp-text-grayscale-333.slp-pb-24.slp-text-left
            SafetyWing believes remote work can remove the role of geographical borders as a barrier to equal opportunities and freedom for everyone. They provide global benefits, like health insurance and retirement savings, to remote workers and teams.
    .col-md-4 
      .partner-card.slp-p-32.slp-pt-24.slp-border.slp-border-grayscale-highlight.slp-border-solid.slp-m-16.slp-my-48.hover:slp-shadow-lg.slp-ease-in-out.slp-transition-all.slp-duration-300.slp-rounded-md.slp-group.slp-relative.slp-flex.slp-flex-col.slp-justify-between
        %div
          %a{:href => "https://qatalog.com/", :target => "_blank"}
            = image_tag "/images/remote-work-report/Qatalog-logo.svg"
          %p.slp-text-grayscale-333.slp-pb-24.slp-text-left
            A great restructuring is rapidly unfolding in our working lives. The ground beneath us is shifting to a new form of collaboration, where we work wherever and whenever we like. We should have a new way of working that we couldn’t have anticipated, or even imagined, just a few years ago. In pursuit of our mission to connect the world of work and unlock human potential, we’ll remove millions of tiny friction points to make room for craftsmanship and creativity.

%main.end-ctas{style: "text-align: center;"}
  %section.container.container2020
    .col-md-12
      %h2 Thanks for reading
      %p
        %a.btn.cta-btn.orange-light{href: "/resources/downloads/remote-work-report-2021.pdf", :target => "_blank"} Download the full report
      %p Or #{link_to("learn more about remote work", "https://about.gitlab.com/company/culture/all-remote/")} best practices

%script{src: "/javascripts/image-lazy-load.js", type: "text/javascript"}
%script{type: "text/javascript"}
  :plain
    imageLazyLoad();
