:markdown

  ## Team Lead

  You have experience in sales or business development helping people get started
  with a technical product. Your job is three-fold: (1) Help connect people interested
  in GitLab to the sales team or other appropriate resource, (2) lead and train
  other members of the business development team, and (3) take on operational and
  administrative tasks to help the business development team perform.


  ### Additional Responsibilities

  * Lead the business development team by:
      * Identifying where leads are in the sale and marketing funnel and taking the appropriate action.
      * Passing qualified leads to the sales team and ensuring the sales team follows through.
      * Training other members of the business development team to identify and pass qualified leads.
      * Ensuring business development team members improve performance and abilities over time by providing coaching and feedback.
      * Managing the lead funnel from marketing qualified lead (MQL) to sales qualified lead (SQL).
  * Work with our demand generation manager on inbound and outbound lead qualification campaigns.
  * Work with our demand generation manager on growing and developing the business development team.
  * Work with our field marketing manager on event lead qualification.
  * Work with our developer marketing manager to identify customer stories from all of the conversations you have with our customers.
  * Work with the Sales Team to ensure relationships with key accounts are developed and strengthened.
  * Identify and define key sales metrics, measure sales process, and create goals that drive growth
  * Document all processes in the handbook and update as needed.
  * Leading and coordinating business development representatives team.
  * Providing input to Chief Marketing Officer regarding business development representatives team practices.
